@{
    ViewBag.Title = "Home Page";
}
    <div class="col">
        <div class="row">
            <h1 class="display-1">Asclepius</h1>
        </div>
        <div class="row">
            <img src="~/Resources/Images/aesculapian-logo.png" class="img-fluid" alt="Responsive image" />
        </div>
    </div>
        

        <div class="row">
            <div class="col-md-4">
                <h2>Personal Exercise Program</h2>
                <p>
                    We are able to offer every patient a persomnalised exercise program, to optomise their rehabilitation. Exercise programs will be updated as progress is made.
                </p>
            </div>
            <div class="col-md-4">
                <h2>Excellence in Patient Care</h2>
                <p>
                    All the physiotherapists are HCPC registered and have extensive knowledge and skills in musculoskeletal rehabilitation.
                </p>
                <p><a class="btn btn-default" href="https://www.macpweb.org/home/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Physiotherapy Works</h2>
                <p>
                    Our patients have said "Excellent care and understanding of my condition"
                </p>
                <p>
                    "When I first came to physiotherapy I was a really anxious lady, lovely friendly and knowledgeable staff have helped me get my arm back to normal""
                </p>
                <p><a class="btn btn-default" href="https://www.csp.org.uk/">Learn more &raquo;</a></p>
            </div>
        </div>
