@{
    ViewBag.Title = "Home Page";
}

        <div id="mainCarosel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#mainCarosel" data-slide-to="0" class="active"></li>
                <li data-target="#mainCarosel" data-slide-to="1"></li>
                <li data-target="#mainCarosel" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Resources/Images/MACP-logo.png" alt="MACP">
                    <div class="carousel-caption float-right">
                        <h2 >Physiotherapy Works</h2>
                        <p>Caption Text Goes here</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Resources/Images/physiotherapyworks-logo.jpg" alt="CSP">
                    <div class="carousel-caption float-right">
                        <h2>Excellence in Patient Care</h2>
                        <p>Caption Text Goes here</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Resources/Images/NHS-logo.jpg" alt="MACP">
                    <div class="carousel-caption float-right">
                        <h2>Personal Exercise Programr</h2>
                        <p>Caption Text Goes here</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#mainCarosel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#mainCarosel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Personal Exercise Program</h2>
                <p>
                    We are able to offer every patient a persomnalised exercise program, to optomise their rehabilitation. Exercise programs will be updated as progress is made.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Excellence in Patient Care</h2>
                <p>
                    All the physiotherapists are HCPC registered and have extensive knowledge and skills in musculoskeletal rehabilitation.
                </p>
                <img src="~/Resources/Images/MACP-logo.png" alt="MACP">
                <p><a class="btn btn-default" href="https://www.macpweb.org/home/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Physiotherapy Works</h2>
                <p>
                    Our patients have said "Excellent care and understanding of my condition"
                </p>
                <p>
                    "When I first came to physiotherapy I was a really anxious lady, lovely friendly and knowledgeable staff have helped me get my arm back to normal""
                </p>
                <img src="~/Resources/Images/csp-logo.jpg" alt="MACP">
                <p><a class="btn btn-default" href="https://www.csp.org.uk/">Learn more &raquo;</a></p>
            </div>
        </div>
